{{- $scratch := newScratch }}
<!-- 创建时间 -->
{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (printf "📅: %s" (.Date.Format "2006-1-2"))) }}
{{- end }}

<!-- 更新时间 -->
{{- if (.Param "ShowLastMod") -}}
{{- $scratch.Add "meta" (slice (printf "🆕: %s" (.Lastmod.Format (default "2006-01-02" .Site.Params.DateFormat)))) }}
{{- end }}

<!-- 统计字数 -->
{{- if (.Param "ShowWordCounts") -}}
{{- $wordCount := .WordCount | default 0 }}
{{- if gt $wordCount 0 }}
{{- $scratch.Add "meta" (slice (printf "🔢: %d字" $wordCount)) }}
{{- end }}
{{- end }}

<!-- 大概需要花费的阅读时间 -->
{{- if (.Param "ShowReadingTime") -}}
{{- $readingTime := .ReadingTime | default 0 }}
{{- if gt $readingTime 0 }}
{{- $scratch.Add "meta" (slice (printf "🕵🏻: %d分钟" $readingTime)) }}
{{- end }}
{{- end }}

<!-- 作者 -->
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}

<!-- 分隔方式 -->
{{- with ($scratch.Get "meta") }}
{{- delimit . " | " -}}
{{- end -}}
